<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spherathon by Byte Millennium</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://spherathon.ml/assets/images/favicon.png">
  </head>
  <body>
    <header>
      <div class="inner">
        <a><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://git.io/v5oGR" class="button"><small>View on</small> GitHub</a>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>
        <aside id="sidebar">
          <a href="https://goo.gl/vvJzLG" class="button"><small>Download for</small>Android</a>
        </aside>
      </div>
    </div>
  </body>
</html>
